body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: white;
}

header, footer {
    background-color: #ff0028;
    color: white;
    text-align: center;
    padding: 20px;
}

#logo-img {
    width: 60px;
    border: none;
  }

section {
    padding: 20px;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

img {
    margin: auto;
    align-items: center;
    display: flex;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

div {
    text-align: left;
}

#testimonials {
    text-align: left;
}


.services-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.service-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.service-card h2 {
    color: #1400c6;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.service-card p {
    color: #555;
}

.success-message {
    padding: 10px;
    margin: 10px 10px 0px 100px;
    color: #fff;
    background-color: #ff0028;
    border: 1px solid #ff0028;
    border-radius: 4px;
    font-size: 1.1em;
    text-align: left;
}

.contact-form-section {
    display: flex;
    justify-content: center;
    padding: 20px;
}

form {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
    resize: vertical;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color:  #1400c6;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color:  #1400c6;
}

.appointment-form-section {
    display: flex;
    justify-content: center;
    padding: 20px;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
    background-color: #fff;
    cursor: pointer;
}

